<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="ChromeTest">
	<parameter name="browsers" value="chrome"></parameter>
	<parameter name="username" value="admin"></parameter>
	<parameter name="password" value="test"></parameter>
		<classes>
			<class name="testscripts.AdminUsersTest">
			<methods>
					<include name="addNewUserDetails"></include>
				</methods>
			</class>
		</classes>
	</test>


</suite>